{% extends 'base.html' %}

{% block title %}Kopisha{% endblock %}

{% block content %}
<div class="main" style="margin-top: 60px;">
  <div class="panel">

    <div class="section">
      <div class="row3">
        <h1>Kopisha</h1>
      </div>
    </div>

    <div class="section-gap"></div>

    <div class="section">
      <div class="row3">
        Clipboard relay for online training sessions.
      </div>
    </div>

    <div class="section-gap"></div>

    <div class="section">
      <div class="row3">
        <span class="time-message">If you're a learner, your tutor will give you the correct link.</span>
      </div>
    </div>

    <div class="section-gap"></div>

    <div class="section">
      <div class="row3">
        <span class="time-message">v{{ version }}</span>
      </div>
    </div>

  </div>
</div>
{% endblock %}
